.photo-grid {
  margin: 0 auto;
  padding: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(284px, 1fr));
  grid-gap: 16px;
  justify-content: center;
  align-content: space-around;
  max-width: 1280px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(280px, 1fr));
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    padding: 92px 24px 0;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
@media screen and (max-width: 767px) {
  .photo-grid {
    padding: 64px 16px 0;
    display: block;
    margin: 0 auto;
  }
}
