.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: minmax(300px, 48%) minmax(300px, 52%);
  column-gap: 40px;
  row-gap: 48px;
}
.place:first-of-type {
  margin-top: 92px;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .place {
    column-gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    display: block;
  }
  .place:first-of-type {
    margin-top: 64px;
  }
}
